<div class="card-container">
    <img src="assets/reglas-del-tocho-bandera-como-jugar-removebg-preview.png" alt="Reglas del Tocho Bandera" class="rules-image">
    
    <div class="card card-1 gray-card">
        <h3 class="card-title">No hay contacto físico</h3>
        <p class="card-content">A diferencia del fútbol americano tradicional, el tocho banderola es un deporte sin contacto fisico, los jugadores no pueden tacklear, empujar o bloquear físicamente a los oponentes, la jugada termina cuando se quita la bandera del jugador que lleva el balón.</p>
    </div>
    <div class="card card-2 gray-card">
        <h3 class="card-title">Eliminación de la bandera (Tocho)</h3>
        <p class="card-content">En lugar de tacklear al jugador con el balón, la defensa debe quitarle una de las banderas (tochos) que lleva a los lados de la cintura, esto indica que la jugada ha terminado y es donde se coloca el balón para la siguiente jugada.</p>
    </div>
    <div class="card card-3 gray-card">
        <h3 class="card-title">Tiempo limitado para pasar el balón</h3>
        <p class="card-content">El quarterback tiene un tiempo limitado (generalmente entre 5 y 7 segundos, dependiendo de las reglas de la liga) para lanzar el balón después de que se inicia la jugada, si no lo hace, se considera que la jugada ha terminado.</p>
    </div>
    <div class="card card-4 gray-card">
        <h3 class="card-title">Zona neutral y rushers</h3>
        <p class="card-content">La defensa debe esperar un conteo (o una distancia específica, como 5 yardas) antes de poder cruzar la línea de golpeo y presionar al quarterback, este tiempo permite al quarterback lanzar el pase sin ser inmediatamente atacado.</p>
    </div>
    <div class="card card-5 gray-card">
        <h3 class="card-title">Puntuación y conversiones</h3>
        <p class="card-content">Los touchdowns valen 6 puntos, después de un touchdown, el equipo tiene la opción de intentar una conversión desde la línea de 5 yardas (1 punto) o desde la línea de 10 yardas (2 puntos), similar a la "conversión de dos puntos" en el fútbol americano.</p>
    </div>
    <div class="card card-6 gray-card">
        <h3 class="card-title">Anotación</h3>
        <p class="card-content">Se marcan 6 puntos cuando un jugador cruza la línea de anotación del equipo contrario. En algunos casos, puede haber intentos adicionales de conversión, como un "extra point" (punto extra), que puede ser una jugada de dos puntos desde la línea de 5 yardas.</p>
    </div>
    <div class="card card-7 gray-card">
        <h3 class="card-title">Penalizaciones</h3>
        <p class="card-content">Existen diversas infracciones, como falta de conducta antideportiva, interferencia con el pase o faltas de "offside". Cada infracción conlleva una penalización que puede resultar en la pérdida de yardas o la repetición de la jugada.</p>
    </div>
    <div class="bottom-border"></div> 
    <div class="extra-border"></div> 
</div>
