.full-screen-container {
    width: 112vw; 
    height: 100vh; 
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
    position: relative; 
}

.minimap {
    position: relative;
    margin-left: -25cm; 
}

.contact-title {
    color: rgb(0, 0, 0);         
    font-weight: bold;           
    font-size: 3rem;              
    margin-bottom: 10px;         
    margin-top: -14cm;            
    margin-left: 0cm; 
    text-align: center;           
}

.circle {
    width: 5cm; 
    height: 5cm; 
    background-color: #F4C2C2; 
    border-radius: 50%; 
    position: absolute; 
}

.circle:nth-child(4) {
    top: 120px; 
    left: 938px; 
}

.circle:nth-child(5) {
    top: 120px; 
    left: 1220px; 
}

.circle:nth-child(6) {
    top: 120px; 
    left: 700px; 
}
