<div class="operaciones-container">
    <img src="assets/operaciones.jpg" alt="Background" class="background-image" />
  
    <div class="puzzle-container">
      <button class="puzzle-piece piece-1" (click)="navigateTo('suma')">+</button>
      <button class="puzzle-piece piece-2" (click)="navigateTo('resta')">-</button>
      <button class="puzzle-piece piece-3" (click)="navigateTo('multiplicacion')">x</button>
      <button class="puzzle-piece piece-4" (click)="navigateTo('division')">÷</button>
    </div>
  </div>
  