<div
  class="multiplicacion-container"
  style="background: url('assets/fondo-multiplicacion.jpg') no-repeat center center/cover; width: 100vw; height: 100vh;"
>
  <div id="yt-player"></div> 
  <div class="content-section">
    <div class="text-image-section">
      <img src="assets/imagen.jpg" alt="imagende" />
    </div>

    <div class="wheel-section">
      <div class="wheel-container">
        <div class="wheel" id="wheel">
          <div
            class="wheel-segment"
            *ngFor="let number of numbers; let i = index"
            [style.transform]="'rotate(' + i * 45 + 'deg)'"
            [style.background]="segmentColors[i % 4]"
          >
            <span
              class="segment-number"
              [style.transform]="'rotate(-' + i * 45 + 'deg)'"
            >
              {{ number }}
            </span>
          </div>
        </div>
        <div class="arrow"></div>
      </div>

      <div class="spin-buttons">
        <button class="spin-button" (click)="startSpinning()">Girar</button>
        <button class="reset-button" (click)="reset()">Reiniciar</button>
      </div>
    </div>

    <div class="inputs-section">
      <input
        type="text"
        class="number-input"
        [value]="firstNumber || ''"
        placeholder="?"
        readonly
      />
      <span class="operation-symbol">x</span>
      <input
        type="text"
        class="number-input"
        [value]="secondNumber || ''"
        placeholder="?"
        readonly
      />
      <span class="operation-symbol">=</span>
      <input
        type="text"
        class="result-input"
        [ngClass]="{ 'input-error': isIncorrect, 'input-correct': isCorrect }"
        placeholder="?"
        [(ngModel)]="userResult"
      />
    </div>
  </div>

  <div class="verify-button-section">
    <button class="verify-button" (click)="verifyResult()">Verificar</button>
  </div>
</div>
