<div class="care-container">
  <div class="text-container">
    <div class="left-text">
      ¿Cuánto tiempo dura un partido de tocho bandera?
    </div>
    <div class="small-text">
      El juego del tocho bandera tiene una duración de 40 minutos. Generalmente, en el tochito bandera, el periodo de descanso entre la primera mitad y la segunda será de dos minutos. Una vez colocado el balón en el campo de flag football, el equipo atacante tiene 30 segundos para centrar. Cada equipo de fútbol bandera tiene 2 tiempos de 30 segundos en cada mitad. Los tiempos fuera, en el tocho bandera no serán acumulables. Los oficiales, en el tochito bandera, pueden detener el reloj a su criterio. El reloj se detendrá para advertir a los equipos cuando quedan 2 minutos de juego. En tiempo fuera el reloj se detendrá completamente. Durante los dos últimos minutos antes de finalizar el juego del tocho bandera, el tiempo se detendrá cada vez que el balón salga del campo y en puntos extras.
    </div>
  </div>

  <div class="text-container-second">
    <div class="left-text-second">
      Otro título de ejemplo
    </div>
    <div class="small-text-second">
      Aquí puedes agregar otro texto con un estilo diferente que sea completamente independiente del primero. Puedes modificar este texto como quieras, y no afectará al primer conjunto de texto.
    </div>
  </div>
</div>
