<div class="background">
  <iframe
    id="youtube-background"
    src="https://www.youtube.com/embed/9n68FwzecBM?autoplay=1&mute=0&loop=1&playlist=9n68FwzecBM&start=2"
    frameborder="0"
    allow="autoplay"
    allowfullscreen
    class="fullscreen-youtube">
  </iframe>

  <video id="background-video" src="assets/video1.mp4" autoplay muted loop playsinline class="fullscreen-video"></video>

  <div class="grid-container">
    <div class="box green-box">+</div>
    <div class="box purple-box">×</div>
    <div class="box red-box">−</div>
    <div class="box brown-box">÷</div>
  </div>
</div>
