.border-container {
  position: relative;
  /* Aquí puedes ajustar otros estilos de contenedor */
}

.app-card {
  position: absolute;
  top: 0; /* Asegúrate de ajustar el posicionamiento */
  left: 0;
  width: 100%;
  z-index: 10; /* Un número alto para asegurar que esté encima de los demás elementos */
}

.top-image, .bottom-image {
  width: 100%;
  height: auto;
}

.rules-text {
  text-align: center;
}
