<div class="video-container" style="background-image: url('assets/inicio-fondo.jpg'); background-size: cover; background-position: center;">
  <video src="assets/i.mp4" autoplay loop muted class="video"></video>

  <audio src="assets/music-inicio.mp3" autoplay loop></audio>

  <div class="start-button-container">
    <button class="start-button" (click)="navigateTo('operaciones')">
      <img src="assets/play.png" alt="Play Icon" class="play-icon" />
      Iniciar
    </button>
    
    <button class="start-button" (click)="navigateTo('login')">
      <span class="emoji">👤</span> Iniciar sesión
    </button>
  </div>
</div>
