.dashboard-container {
    width: 94%; 
    height: calc(400vh - 26% + 220cm); 
    margin: 2% auto; 
    padding: 20px;
    border: 3px solid orange; 
    box-shadow: 0 0 10px rgba(255, 140, 0, 0.5); 
    border-radius: 10px; 
    box-sizing: border-box; 
}

.image-container {
    position: relative; 
    width: fit-content; 
    margin: 20px auto; 
    padding-top: 20px; 
    transform: translateX(-13cm); 
    margin-top: 2cm; 
}

.timer-button {
    position: relative; 
    background-color: orange; 
    color: white; 
    padding: 10px 20px; 
    right: -155px;
    border: none; 
    border-radius: 5px; 
    cursor: pointer; 
    font-size: 26px; 
    font-weight: bold; 
    box-shadow: 0 4px 0px rgba(0, 0, 0, 0.2); 
    margin-bottom: 3cm; 
    transform: translateY(-2cm); 
}

.timer-button:hover {
    background-color: #cc7a00; 
}

.dashboard-image {
    display: block; 
    max-width: calc(100% - 1cm); 
    height: auto; 
    right: 0.5cm; 
    border-radius: 10px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
    transform: translateY(-7cm); 
}
