
<div *ngIf="gameStarted" class="game-container">
  <img src="assets/fonsuma.jpg" class="background" alt="Fondo del juego">

  <div class="sum-display">
    <span class="sum-number">{{ number1 }}</span> +
    <span class="sum-number">{{ number2 }}</span> =
    <span class="sum-number">?</span>
  </div>

  <div class="correct-answer">
    <span class="sum-number">{{ correctAnswer }}</span>
  </div>

  <div class="rana-container">
    <div
      class="rana-item"
      *ngFor="let rana of ranas"
      [ngStyle]="{ backgroundColor: rana.selected ? rana.isCorrect ? 'green' : 'red' : 'transparent' }"
      (click)="checkAnswer(rana)"
    >
      <span class="number">{{ rana.number }}</span>
      <img src="assets/rana.png" class="rana" alt="Rana">
    </div>
  </div>
</div>
