<div class="inicio-container">
    <div class="diagonal-line"></div>
    <img src="assets/OIP__1_-removebg-preview.png" alt="Descripción de la imagen" class="background-image" id="image-neon">
    
    <div class="text-container">
        <h1>Tocho Bandera</h1>
        <h2>Tocho Banderola es tu destino para vibrar con cada jugada. Únete a una comunidad donde cada partido es pura adrenalina, el compañerismo se siente en cada pase y la sana rivalidad te impulsa a ser mejor. ¡Aquí, la pasión por el tocho nunca se detiene!</h2>
        <button class="btn-bright">¡Join in!</button>
    </div>
</div>
