.video-container {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  overflow: hidden;
}

.video {
  width: 95%;
  height: 95%;
  object-fit: cover;
  border-radius: 10px;
  z-index: 0;
}

.sidebar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  z-index: 2;
}

.toggle-button {
  position: absolute;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #3498db;
  border: 2px solid black;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  z-index: 3;
}

.toggle-button:hover {
  background-color: #2980b9;
}

.menu-icon {
  width: 40px;
  height: 40px;
}

.balloons-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.balloons-column.left {
  position: absolute;
  left: 80px;
  top: 50%;
  transform: translateY(-50%);
}

.balloons-column.right {
  position: absolute;
  right: 80px;
  top: 50%;
  transform: translateY(-50%);
}

.sidebar.open .balloons-column {
  opacity: 1;
}

.balloon-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.balloon {
  background: linear-gradient(to bottom, orange, darkorange);
  border: 3px solid black;
  cursor: pointer;
  font-size: 2rem;
  color: white;
  padding: 20px;
  border-radius: 50%;
  width: 110px;
  height: 110px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);
  transition: transform 0.2s ease-in-out;
  position: relative;
}

.balloon img {
  width: 60px;
  height: 60px;
}

.balloon:hover {
  transform: scale(1.1);
}

.balloon:active {
  animation: pop 0.4s ease-in-out forwards;
}

.balloon-string {
  width: 2px;
  height: 40px;
  background: black;
  margin-top: 5px;
}

.bow-image {
  width: 50px;
  height: auto;
  position: absolute;
  bottom: -20px;
  left: 50%;
  transform: translateX(-50%);
}

.bow-image[src*="moño"] {
  bottom: 10px;
}

.bow-image[src*="moño_azul"] {
  bottom: 358px;
}

.bow-image[src*="moño_verde"] {
  bottom: 162px;
}

@keyframes pop {
  0% {
    transform: scale(1.1);
    opacity: 1;
  }
  100% {
    transform: scale(0);
    opacity: 0;
  }
}

.start-button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: calc(20px + 8cm); 
  width: 100%;
}

.start-button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: orange;
  color: white;
  border: none;
  border-radius: 20px;
  padding: 10px 20px;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

.start-button:hover {
  background-color: #ff8c00;
}

.play-icon {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}
